<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Data Fetcher</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1>Welcome to Financial Data Fetcher</h1>
        <h3>Compute Engine Edition</h3>
    </header>

    <div id="search-container">
        <form id="company-form">
            <input type="text" name="company_name" id="company-search" placeholder="Start typing a company name...">
            <button type="submit" id="fetch-data">Fetch Data</button>
        </form>
        <div id="suggestions-box"></div>
    </div>

    <div id="links-container"></div>

    <script src="{{ url_for('static', filename='js/search.js') }}"></script>

    <script type="text/javascript">
        var dropdowns = {{ dropdowns| tojson }};

        document.addEventListener('DOMContentLoaded', function () {
            var searchInput = document.getElementById('company-search');
            var suggestionsBox = document.getElementById('suggestions-box');
            var form = document.getElementById('company-form');
            var linksContainer = document.getElementById('links-container');

            searchInput.addEventListener('input', function () {
                var inputVal = searchInput.value.toLowerCase();
                var suggestions = dropdowns.filter(function (company) {
                    return company.toLowerCase().includes(inputVal);
                }).slice(0, 10); // Get only the first 10 matches

                // Build the suggestions box content
                suggestionsBox.innerHTML = suggestions.map(function (suggestion) {
                    return '<div class="suggestion-item">' + suggestion + '</div>';
                }).join('');

                suggestionsBox.style.display = 'block'; // Show the suggestions box
            });

            suggestionsBox.addEventListener('click', function (event) {
                if (event.target && event.target.matches("div.suggestion-item")) {
                    searchInput.value = event.target.textContent;
                    suggestionsBox.style.display = 'none'; // Hide the suggestions box
                }
            });

            document.addEventListener('click', function (event) {
                if (!searchInput.contains(event.target) && !suggestionsBox.contains(event.target)) {
                    suggestionsBox.style.display = 'none'; // Hide the suggestions box
                }
            });

            form.addEventListener('submit', function (event) {
                event.preventDefault();
                var formData = new FormData(form);
                fetch('{{ url_for("fetch_data") }}', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        linksContainer.innerHTML = '<h2>Download Financial Statements:</h2><ul>' +
                            Object.keys(data.links).map(key =>
                                `<li><a href="${data.links[key]}" download>${key}</a></li>`
                            ).join('') +
                            '</ul>';
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    </script>

</body>

</html>